:root {
    --broken-heart-svg: url("https://raw.githubusercontent.com/mimikyumochi/discord-emoji-edits/refs/heads/master/broken_heart.svg");

    --squish: url("data:image/png;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
}

img[alt="💔"],
img[alt=":broken_heart:"],
img[src="/assets/9af131d0828468bc.svg"] {
    /* squish image into 1 transparent pixel */
    content: var(--squish);

    /* dip it in paint */
    background-color: var(--broken-heart-color);

    /* apply colour to shape */
    -webkit-mask: var(--broken-heart-svg) center / contain no-repeat;
    mask: var(--broken-heart-svg) center / contain no-repeat;
}

button[data-name="broken_heart"] div[class*="emojiSpriteImage_"] {
    /* brutally murder the original */
    background-image: none !important;

    /* forcefully change its colour */
    background-color: var(--broken-heart-color) !important;

    /* apply colour to shape */
    -webkit-mask: var(--broken-heart-svg) center / contain no-repeat;
    mask: var(--broken-heart-svg) center / contain no-repeat;
}